html,
body,
:root{
  margin: 0;
  padding: 0;
  height: 100%;
}

.hide-scrollbar::-webkit-scrollbar {
  width: 0;
}

.spinner-anim{
  animation: spinner-animation infinite ease-in-out 2s;
}

@keyframes spinner-animation {
  0%{
    rotate: 0deg;
    border-bottom-color: #ba6969;
    border-top-color: #ba6969;
  }
  50%{
    border-bottom-color: #9eabbe;
    border-top-color: #9eabbe;
  }
  100%{
    rotate: 360deg;
  }

}

.logo-anim{
   animation: logo-animation infinite ease-in-out 2s;
}

@keyframes logo-animation {
  0%{
    color: #ba6969;
  }
  50%{
    color: #9eabbe
  }
 
}